.Navbar {
    display: flex;
    height: 6vh;
    align-items: center;
    justify-items: flex-start;
}

.logo {
    background-color: #e0d9d9;
    margin-right:15px;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 22px;
}
.logo a {
    text-decoration: none;
    color: black;
}
.slider {
    width: 340px;
    margin: 0 10px;
    display: inline-block;
}
